<%= render "layouts/seo_meta", seo_metadata: @recipe.seo_metadata %>

<div class="flex items-center justify-between">
  <div class="flex items-center gap-2">
    <span class="italic text-sm">Vibed by </span>
    <b><%= render @recipe.user %></b>
  </div>
  <%= render "shared/share_button" %>
</div>
<%= render "recipes/header", recipe: @recipe %>
<%= render @recipe.coffee_bean %>
<%= render "recipes/details", recipe: @recipe %>
<%= render "recipes/steps", recipe: @recipe %>
