
<div class="flex items-center gap-2">
  <span class="italic text-sm">Vibed by </span>
  <b><%= render @recipe.user %></b>
</div>
<%= render "recipes/header", recipe: @recipe %>
<%= render "coffee_beans/coffee_bean", coffee_bean: @recipe.coffee_bean %>
<%= render "recipes/details", recipe: @recipe %>
<%= render "recipes/steps", recipe: @recipe %>
