<div class="divide-y divide-gray-200 border border-gray-200 rounded-lg overflow-hidden">
  <div class="flex px-4 py-3 bg-white">
    <div class="w-40 flex-shrink-0 text-sm font-medium text-gray-500">Brew method</div>
    <div class="flex-1 text-gray-700">
      <span><%= recipe.brew_method_name %></span>
    </div>
  </div>
  <div class="flex px-4 py-3 bg-white">
    <div class="w-40 flex-shrink-0 text-sm font-medium text-gray-500">Coffee</div>
    <div class="flex-1 text-gray-700">
      <span class="font-mono bg-gray-100 px-2 py-0.5 rounded text-sm"><%= recipe.coffee_weight %>g</span>
      <span><%= recipe.grind_size %> grind</span>
    </div>
  </div>
  <div class="flex px-4 py-3 bg-white">
    <div class="w-40 flex-shrink-0 text-sm font-medium text-gray-500">Water</div>
    <div class="flex-1 text-gray-700">
      <span class="font-mono bg-gray-100 px-2 py-0.5 rounded text-sm"><%= recipe.water_weight %>g</span>
      <span class=""><%= recipe.formatted_temperature %></span>
    </div>
  </div>
</div>
