<%= form_with model: record, data: { controller: "auto-submit" } do |f| %>
  <div class="flex items-center gap-2">
    <label class="text-sm text-gray-600 hidden">Status:</label>
    <%= lucide_icon(record.published? ? 'eye' : 'eye-off') %>
    <%= f.select :published,
        [["Private", false], ["Published", true]],
        {},
        class: "text-sm border border-gray-300 rounded px-2 py-1",
        data: { action: "change->auto-submit#submit" } %>
    <% if record.published? %>
      <% public_path = record.is_a?(CoffeeBean) ? bean_path(record.slug) : brew_path(record.slug) %>
      <%= link_to public_path, target: "_blank", class: "text-sm text-blue-600 hover:underline flex gap-1" do %>
        <span>Public page </span>
        <%= lucide_icon('square-arrow-out-up-right', class: 'h-4, w-4') %>
      <% end %>
    <% end %>
  </div>
<% end %>
