<%= turbo_frame_tag dom_id(coffee_bean, :info), class: "min-w-0 overflow-hidden w-full" do %>
  <div class="p-2 flex flex-col w-full">
    <% if coffee_bean.brand.present? %>
      <div class="flex items-center justify-between min-w-0 w-full">
        <h3 class="font-semibold text-xl truncate flex gap-2 items-center">
          <% if coffee_bean.published? && coffee_bean.owned_by_current_user? %>
            <%= lucide_icon('eye', class: 'h-5 w-5') %>
          <% end %>
          <%= coffee_bean.brand %>
        </h3>
        <div class="flex items-center gap-2 shrink-0">
          <% coffee_bean.process.each do |p| %>
            <span class="badge"><%= p %></span>
          <% end %>
        </div>
      </div>
      <span class="text-gray-800 truncate"><%= coffee_bean.variety.join(", ") %></span>
      <span class="text-gray-800 truncate"><%= coffee_bean.origin %></span>
    <% else %>
      <div class="flex items-center gap-2">
        <h3 class="font-semibold text-xl text-gray-400">Extracting info</h3>
        <span class="text-gray-400 animate-pulse">...</span>
      </div>
      <span class="text-gray-400">Processing image</span>
    <% end %>
  </div>
<% end %>
