<h1 class="text-2xl font-bold">🤙 Vibe Coffee ☕️</h1>

<div class="w-full flex justify-center">
  <%= link_to '+ Add Coffee Bean', new_coffee_bean_path, class: "button" %>
</div>

<div class="grid">
  <% @coffee_beans.each do |coffee_bean| %>
    <%= link_to coffee_bean do %>
      <div class="card flex gap-2">
        <%= image_tag coffee_bean.images.first, class: "h-24 w-24 object-cover" %>

        <div>
          <h3 class="font-bold text-xl">
            <%= coffee_bean.brand.present? ? coffee_bean.brand : "Untitled Coffee Bean" %>
          </h3>
          <span>
            <%= coffee_bean.origin %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

