<div class="w-full">
  <h1 class="title">Coffee Beans</h1>
</div>

<div class="grid-custom">
  <% @coffee_beans.each do |coffee_bean| %>
    <%= link_to bean_path(coffee_bean.slug) do %>
      <div class="card flex gap-2 overflow-hidden">
        <div class="relative">
          <%= image_tag coffee_bean.images.first.variant(resize_to_fill: [192, 192]),
              class: "h-24 w-24 object-cover" %>
        </div>

        <div class="p-2 flex flex-col">
          <div class="flex items-center gap-2">
            <h3 class="font-semibold text-xl"><%= coffee_bean.brand %></h3>
            <% coffee_bean.process.each do |p| %>
              <span class="badge"><%= p %></span>
            <% end %>
          </div>
          <span class="text-gray-800"><%= coffee_bean.variety.join(", ") %></span>
          <span class="text-gray-800"><%= coffee_bean.origin %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
